<h2 class="title">Add Quote</h2>
<div class="card mb4">
  <form [formGroup]="addQuoteForm" (ngSubmit)="onSubmit(addQuoteForm.value)">
    <div class="md-flex">
      <div class="group md-mr2">
        <input type="text" required="required" name="author" formControlName="author" /><span
          class="highlight"
        ></span
        ><span class="bar"></span><label>Author</label>
      </div>
      <div class="group">
        <input type="text" required="required" name="quote" formControlName="quote" /><span
          class="highlight"
        ></span
        ><span class="bar"></span><label>Quote</label>
      </div>
    </div>
    <button class="btn btn-submit" type="submit" [disabled]="!addQuoteForm.value.quote">Submit</button>
  </form>
</div>
