/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
}

.wrap {
  margin-right: auto;
  margin-left: auto;
  max-width: 800px;
}

.flex {
  display: flex;
}

.flex-auto {
  flex: 1;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.mr1 {
  margin-right: 0.5rem;
}

.mr2 {
  margin-right: 1rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.font-normal {
  font-weight: normal;
}

.bor-title {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0;
}

.title {
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 1rem;
}

.sec-text {
  color: #757373;
}

// VARIABLES // ============================== //
$bg-color: #fff;
$hl-color: #2196f3;
$muted-color: mix(#000, $bg-color, 70%);
$trans-time: 300ms;
$width: 320px;

*,
:before,
:after {
  box-sizing: border-box;
}

body {
  background: $bg-color;
  font-size: 1rem;
}

.main-content {
  padding-top: 20px;
  margin-bottom: 2rem;
  min-height: 100vh;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  // margin: 1rem;
  position: relative;
  width: 100%;
  padding: 20px;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.quote-list {
  min-height: 400px;
}

.quote-item {
  background: #fff;
  border-radius: 2px;
  display: inline-block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative;
  padding: 20px;
  width: 100%;

  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.quote-item p {
  margin-top: 0;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(0, 0, 0, 0.05);
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.love {
  color: #f14668;
  font-size: 1.2rem;
}

.stack-share {
  position: relative;
  top: 3px;
  display: inline-block;
}

// FORM // ============================== //
form {
  margin: 10px auto;

  h1 {
    font-size: 3em;
    font-weight: 300;
    text-align: center;
    color: $hl-color;
  }
  h5 {
    text-align: center;
    text-transform: uppercase;
    color: $muted-color;
  }
  hr.sep {
    background: $hl-color;
    box-shadow: none;
    border: none;
    height: 2px;
    width: 25%;
    margin: 0px auto 45px auto;
  }
  .emoji {
    font-size: 1.2em;
  }
}

.group {
  position: relative;
  margin-top: 45px;
  margin-bottom: 45px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

// INPUTS // ============================== //
textarea {
  resize: none;
}

input,
textarea {
  background: none;
  color: $muted-color;
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: $width;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid $muted-color;
  &:focus {
    outline: none;
  }
  &:focus ~ label,
  &:valid ~ label {
    top: -14px;
    font-size: 12px;
    color: $hl-color;
  }
  &:focus ~ .bar:before {
    width: $width;
  }
}

input[type="password"] {
  letter-spacing: 0.3em;
}

label {
  color: $muted-color;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: $trans-time ease all;
}

.bar {
  position: relative;
  display: block;
  width: $width;
  &:before {
    content: "";
    height: 2px;
    width: 0;
    bottom: 0px;
    position: absolute;
    background: $hl-color;
    transition: $trans-time ease all;
    left: 0%;
  }
}

// BUTTONS // ============================== //
.btn {
  background: #fff;
  color: mix(black, $muted-color, 25%);
  border: none;
  padding: 10px 20px;
  border-radius: 3px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-decoration: none;
  outline: none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  &:hover {
    color: mix(black, $muted-color, 30%);
    box-shadow: 0 7px 14px rgba(0, 0, 0, 0.18), 0 5px 5px rgba(0, 0, 0, 0.12);
  }
  &.btn-link {
    background: $hl-color;
    color: mix(white, $hl-color, 80%);
    &:hover {
      background: darken($hl-color, 5%);
      color: mix(white, $hl-color, 85%);
    }
  }
  &.btn-submit {
    background: $hl-color;
    color: mix(white, $hl-color, 70%);
    &:hover {
      background: darken($hl-color, 5%);
      color: mix(white, $hl-color, 85%);
    }
  }
  &.btn-cancel {
    background: #eee;
    &:hover {
      background: darken(#eee, 5%);
      color: mix(black, $muted-color, 30%);
    }
  }
}

.btn-box {
  text-align: center;
  margin: 50px 0;
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .md-flex {
    display: flex;
  }

  .md-mr2 {
    margin-right: 1rem;
  }
}
